{% extends "sklad/sklad_templ.html" %}
{% block title %}Бадгеев{% endblock %}
{% block sklad_js %}
<script src="{{ url_for('static', filename='js/DataTable_Badgeev.js') }}"></script>
{% endblock %}
{% block sklad %}
  <table id="myTable" class="table table-hover table-bordered" style="width:100%">
      <thead>
          <tr>
              <th> ID </th>
              <th> IP </th>
              <th> VLAN </th>
              <th> Ядра </th>
              <th> Конфигурация </th>
              <th> Статус </th>
              <th> Смарт </th>
              <th> Коммутатор </th>
              <th> Порт </th>
              <th> Стойка </th>
              <th> Комментарий </th>
          </tr>
      </thead>
      <tbody id="TableBody">
      </tbody>
      <tfoot>
          <tr>
              <th> ID </th>
              <th> IP </th>
              <th> VLAN </th>
              <th> Ядра </th>
              <th> Конфигурация </th>
              <th> Статус </th>
              <th> Смарт </th>
              <th> Коммутатор </th>
              <th> Порт </th>
              <th> Стойка </th>
              <th> Комментарий </th>
          </tr>
      </tfoot>
  </table>



<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Добавить строку в таблицу</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addForm">
            <div class="mb-3">
              <label for="ip" class="form-label">IP:</label>
              <input type="text" class="form-control" id="ip" name="ip" required>
            </div>
            <div class="mb-3">
              <label for="vlan" class="form-label">VLAN:</label>
              <input type="text" class="form-control" id="vlan" name="vlan" required pattern="\d+">
            </div>
            <div class="mb-3">
              <label for="cores" class="form-label">Ядра:</label>
              <input type="text" class="form-control" id="cores" name="cores" required pattern="\d+">
            </div>
            <div class="mb-3">
              <label for="config" class="form-label">Конфигурация:</label>
              <input type="text" class="form-control" id="config" name="config" required>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Статус:</label>
              <select type="text" class="form-select" id="status" name="status" required>
              <option value="">--Статус--</option>
                <option value="Включен">Включен</option>
                <option value="Выключен">Выключен</option>
                <option value="Неисправен">Неисправен</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="smart" class="form-label">Смарт:</label>
              <textarea type="text" class="form-control" id="smart" name="smart" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="switch" class="form-label">Коммутатор:</label>
              <input type="text" class="form-control" id="switch" name="switch" required>
            </div>
            <div class="mb-3">
              <label for="switch_port" class="form-label">Порт:</label>
              <input type="text" class="form-control" id="switch_port" name="switch_port" required required pattern="\d+">
            </div>
            <div class="mb-3">
              <label for="rack" class="form-label">Стойка:</label>
              <input type="text" class="form-control" id="rack" name="rack" required>
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Комментарий:</label>
              <textarea type="text" class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование элемента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="mb-3">
                        <label for="idSelectEdit" class="form-label">ID</label>
                        <select class="form-select" id="idSelectEdit" name="id">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ipEdit" class="form-label">IP</label>
                        <input type="text" class="form-control" id="ipEdit" name="ip">
                    </div>
                    <div class="mb-3">
                        <label for="vlanEdit" class="form-label">VLAN</label>
                        <input type="text" class="form-control" id="vlanEdit" name="vlan" required pattern="\d+">
                    </div>
                    <div class="mb-3">
                        <label for="coresEdit" class="form-label">Ядра</label>
                        <input type="text" class="form-control" id="coresEdit" name="cores" required pattern="\d+">
                    </div>
                    <div class="mb-3">
                        <label for="configEdit" class="form-label">Конфигурация</label>
                        <input type="text" class="form-control" id="configEdit" name="config">
                    </div>
                    <div class="mb-3">
                        <label for="statusEdit" class="form-label">Статус</label>
                        <select type="text" class="form-select" id="statusEdit" name="status">
                          <option value="">--Статус--</option>
                          <option value="Включен">Включен</option>
                          <option value="Выключен">Выключен</option>
                          <option value="Неисправен">Неисправен</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="smartEdit" class="form-label">Смарт</label>
                        <textarea type="text" class="form-control" id="smartEdit" name="smart" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="switchEdit" class="form-label">Коммутатор</label>
                        <input type="text" class="form-control" id="switchEdit" name="switch">
                    </div>
                    <div class="mb-3">
                        <label for="switch_portEdit" class="form-label">Порт</label>
                        <input type="text" class="form-control" id="switch_portEdit" name="switch_port" required pattern="\d+">
                    </div>
                    <div class="mb-3">
                        <label for="rackEdit" class="form-label">Стойка</label>
                        <input type="text" class="form-control" id="rackEdit" name="rack">
                    </div>
                    <div class="mb-3">
                        <label for="commentEdit" class="form-label">Комментарий</label>
                        <textarea type="text" class="form-control" id="commentEdit" name="comment" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удалить элемент</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteForm">
          <div class="form-group">
            <label for="idSelectDelete">Выберите ID для удаления:</label>
            <select class="form-control mt-2" id="idSelectDelete"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}