{% extends "sklad/sklad_templ.html" %}
{% block title %}Материнские платы{% endblock %}
{% block sklad %}
<table class="table table-striped">
    <thead>
        <tr>
          <th data-column-id="id">ID</th>
          <th data-column-id="name">Название</th>
          <th data-column-id="ram">Тип</th>
          <th data-column-id="m2">Частота</th>
          <th data-column-id="amount">Количество</th>
        </tr>
      </thead>
    <tbody id="TableBody">
        {% for motherboard in data.items %}
        <tr>
        <td data-column-id="id">{{ motherboard.id }}</td>
        <td data-column-id="name" contenteditable="false" class="editable" >{{ motherboard.name }}</td>
        <td data-column-id="ram" contenteditable="false" class="editable" >{{ motherboard.conf }}</td>
        <td data-column-id="m2" contenteditable="false" class="editable" >{{ motherboard.freq }}</td>
        <td data-column-id="amount" contenteditable="false" class="editable" >{{ motherboard.amount }}</td>
        <td class="text-end">
            <button class="btn btn-outline-success" onclick="saveRow(this)">Сохранить</button>
            <button class="btn btn-outline-danger" onclick="deleteRow(this)">Удалить</button>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav class="pagination justify-content-center mt-4">
  {% if data.has_prev %}
      <a class="btn btn-outline-primary me-3 {% if data.prev_num == data.page %}active btn-primary{% endif %}" href="{{ url_for('skladdb.sklad_motherboard', page=data.prev_num) }}"><i class="bi bi-caret-left"></i> Предыдущая</a>
  {% else %}
      <span class="btn btn-outline-secondary disabled me-3">&laquo; Предыдущая</span>
  {% endif %}
  {% for num in data.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
      {% if num %}
          {% if num != data.page %}
              <a class="btn btn-outline-primary me-3 {% if num == data.page %}active btn-primary{% endif %}" href="{{ url_for('skladdb.sklad_motherboard', page=num) }}">{{ num }}</a>
          {% else %}
              <span class="btn btn-outline-info current me-3">{{ num }}</span>
          {% endif %}
      {% else %}
          <span class="btn btn-outline-secondary ellipsis me-3">&hellip;</span>
      {% endif %}
  {% endfor %}
  {% if data.has_next %}
      <a class="btn btn-outline-primary me-3 {% if data.next_num == data.page %}active btn-primary{% endif %}" href="{{ url_for('skladdb.sklad_motherboard', page=data.next_num) }}">Следующая <i class="bi bi-caret-right"></i></a>
  {% else %}
      <span class="btn btn-outline-secondary disabled me-3">Следующая &raquo;</span>
  {% endif %}
</nav>

{% endblock %}