{% extends "sklad/sklad_templ.html" %}
{% block title %}Сервера{% endblock %}
{% block sklad %}
<table id="myTable" class="table table-striped display">
    <thead>
        <tr>
            <th data-column-id="id" class="border-end">ID</th>
            <th data-column-id="name" class="border-end">Имя</th>
            <th data-column-id="conf" class="border-end">Конфигурация</th>
            <th data-column-id="ip" class="border-end">IP Адрес</th>
            <th data-column-id="user" class="border-end">Пользователь</th>
            <th data-column-id="smart">Смарт</th>
            <th class="text-center" data-column-id="function">Действия</th>
          </tr>
      </thead>
    <tbody id="TableBody">
    </tbody>
</table>


{% endblock %}