{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block stylesheet %}
<script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
{% block sklad_js %}
{% endblock %}
<script src="{{ url_for('static', filename='js/sklad/sklad_buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/sklad/sklad_func.js') }}"></script>
<script src="{{ url_for('static', filename='js/sklad/sklad_main.js') }}"></script>
<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='datatables/database_lang.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}" />
{% endblock %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row mb-3">
        <h1>Склад</h1>
        <ul class="nav nav-tabs my-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_pc') %}active{% endif %}" href="{{ url_for('skladdb.sklad_pc') }}">Сервера</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_badgeev') %}active{% endif %}" href="{{ url_for('skladdb.sklad_badgeev') }}">Бадгеев</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_ram') %}active{% endif %}" href="{{ url_for('skladdb.sklad_ram') }}">Оперативная память</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_motherboard') %}active{% endif %}" href="{{ url_for('skladdb.sklad_motherboard') }}">Материнские платы</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_harddrive') %}active{% endif %}" href="{{ url_for('skladdb.sklad_harddrive') }}">Диски</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_network') %}active{% endif %}" href="{{ url_for('skladdb.sklad_network') }}">Сетевое оборудование</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if request.path == url_for('skladdb.sklad_miscellaneous') %}active{% endif %}" href="{{ url_for('skladdb.sklad_miscellaneous') }}">Разное</a>
            </li>
          </ul>          
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="mb-3">
                <button type="button" class="btn btn-success mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
                <button type="button" class="btn btn-warning mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</button>
                <button type="button" class="btn btn-danger mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
        </div>

        {% block sklad %}
        {% endblock %}

        </div>
    </div>
</div>
{% endblock %}
