{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block stylesheet %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/filter_db.js') }}"></script>
    <script src="{{ url_for('static', filename='js/func_db.js') }}"></script>
{% endblock %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <h1>Склад</h1>
    <ul class="nav nav-tabs my-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button {% if request.path == '/sklad/pc' %}aria-selected="active" class="nav-link active"{% else %}aria-selected="active" class="nav-link"{% endif %} id="pc-tab" data-bs-toggle="tab" data-bs-target="#pc" type="button" role="tab" aria-controls="pc" onclick="window.location.href='/sklad/pc'">Сервера</button>
        </li>
        <li class="nav-item" role="presentation">
            <button {% if request.path == '/sklad/ram' %}aria-selected="active" class="nav-link active"{% else %}aria-selected="active" class="nav-link"{% endif %} id="ram-tab" data-bs-toggle="tab" data-bs-target="#ram" type="button" role="tab" aria-controls="ram" onclick="window.location.href='/sklad/ram'">Оперативная память</button>
        </li>
        <li class="nav-item" role="presentation">
            <button {% if request.path == '/sklad/motherboard' %}aria-selected="active" class="nav-link active"{% else %}aria-selected="active" class="nav-link"{% endif %} id="motherboard-tab" data-bs-toggle="tab" data-bs-target="#motherboard" type="button" role="tab" aria-controls="motherboard" onclick="window.location.href='/sklad/motherboard'">Материнские платы</button>
        </li>
        <li class="nav-item" role="presentation">
            <button {% if request.path == '/sklad/harddrive' %}aria-selected="active" class="nav-link active"{% else %}aria-selected="active" class="nav-link"{% endif %} id="harddrive-tab" data-bs-toggle="tab" data-bs-target="#harddrive" type="button" role="tab" aria-controls="harddrive" onclick="window.location.href='/sklad/harddrive'">Диски</button>
        </li>
        <li class="nav-item" role="presentation">
            <button {% if request.path == '/sklad/network' %}aria-selected="active" class="nav-link active"{% else %}aria-selected="active" class="nav-link"{% endif %} id="network-tab" data-bs-toggle="tab" data-bs-target="#network" type="button" role="tab" aria-controls="network" onclick="window.location.href='/sklad/network'">Диски</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ram" role="tabpanel" aria-labelledby="ram-tab">
            <div class="input-group justify-content-between align-items-center my-3">
                <input type="text" class="form-control" id="filterInput" placeholder="Search...">
                <select class="form-select" id="filterColumn">
                    <option value="0">ID</option>
                    <option value="1">Имя</option>
                    <option value="2">Описание</option>
                </select>
            </div>
            <div class="justify-content-end d-flex my-3">
                <button type="button" class="btn btn-success btn-sm mx-2" onclick="addRow(this)">Добавить строку</button>
                <button type="button" class="btn btn-warning btn-sm mx-2" onclick="toggleEditable(this)">Включить Редактирование</button>
                <button type="button" class="btn btn-primary btn-sm mx-2" onclick="saveAllProducts()">Сохранить все</button>
            </div>
            {% block sklad %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
