<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Добавить задачу</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addForm" class="row g-3">
          <div class="col-md-6">
            <label for="date" class="form-label">Дата:</label>
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
          <div class="col-md-6">
            <label for="deadline" class="form-label">Дедлайн:</label>
            <input type="date" class="form-control" id="deadline" name="deadline">
          </div>
          <div class="col-md-6">
            <label for="ticket" class="form-label">Задача:</label>
            <input type="text" class="form-control" id="ticket" name="ticket" required>
          </div>
          <div class="col-md-6">
            <label for="user_init" class="form-label">Заказчик:</label>
            <input type="text" class="form-control" id="user_init" name="user_init" readonly value="{{ current_user.username }}">
          </div>
          <div class="col-md-12">
            <label for="ticket_comment" class="form-label">Описание:</label>
            <textarea class="form-control" id="ticket_comment" name="ticket_comment" rows="3"></textarea>
          </div>
          <div class="col-md-6">
            <label for="priority" class="form-label">Приоритет:</label>
            <select type="form-select" class="form-select" id="priority" name="priority" required>
              <option value="Низкий">Низкий</option>
              <option value="Средний">Средний</option>
              <option value="Высокий">Высокий</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="status" class="form-label">Статус:</label>
            <input type="text" class="form-control" id="status" name="status" value="Новый" readonly>
          </div>
          <div class="col-md-6">
            <label for="executor" class="form-label">Исполнитель:</label>
            <select type="form-select" class="form-select" id="executor" name="executor" required>
              <option value="Общая">Общая</option>
              {% for user in listusers %}
              <option value="{{ user }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="telegramNotification" name="telegram_notification">
              <label class="form-check-label" for="telegramNotification">Уведомить в Telegram</label>
            </div>
          </div>
          <div class="col-md-12">
            <label for="comment" class="form-label">Комментарий</label>
            <textarea type="text" class="form-control" id="comment" name="comment" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" form="addForm" class="btn btn-primary" id="submitButton">Добавить</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Редактирование задачи</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="editForm" class="row g-3">
                  <div class="col-md-6">
                      <label for="idSelectEdit" class="form-label">ID</label>
                      <select class="form-select" id="idSelectEdit" name="id" required>
                      </select>
                  </div>
                  <div class="col-md-6">
                      <label for="dateEdit" class="form-label">Дата</label>
                      <input type="date" class="form-control" id="dateEdit" name="date" required>
                  </div>
                  <div class="col-md-6">
                    <label for="user_initEdit" class="form-label">Заказчик</label>
                    <select type="text" class="form-select" id="user_initEdit" name="user_init" required>
                        <option value="">--Заказчик--</option>
                        {% for user in listusers %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                  <div class="col-md-6">
                      <label for="deadlineEdit" class="form-label">Дедлайн</label>
                      <input type="date" class="form-control" id="deadlineEdit" name="deadline">
                  </div>
                  <div class="col-md-6">
                      <label for="ticketEdit" class="form-label">Задача</label>
                      <input type="text" class="form-control" id="ticketEdit" name="ticket" required>
                  </div>
                  <div class="col-md-12">
                      <label for="ticket_commentEdit" class="form-label">Описание</label>
                      <textarea type="text" class="form-control" id="ticket_commentEdit" name="ticket_comment" rows="5"></textarea>
                  </div>
                  <div class="col-md-6">
                      <label for="priorityEdit" class="form-label">Приоритет</label>
                      <select type="text" class="form-select" id="priorityEdit" name="priority" required>
                          <option value="">--Приоритет--</option>
                          <option value="Низкий">Низкий</option>
                          <option value="Средний">Средний</option>
                          <option value="Высокий">Высокий</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                      <label for="statusEdit" class="form-label">Статус</label>
                      <select type="text" class="form-select" id="statusEdit" name="status" required>
                        <option value="">--Статус--</option>
                        <option value="Новый">Новый</option>
                        <option value="В Работе">В Работе</option>
                        <option value="Выполнено">Выполнено</option>
                        <option value="Возобновлена">Возобновлена</option>
                        <option value="Отложено">Отложено</option>
                        <option value="Закрыто">Закрыто</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                      <label for="executorEdit" class="form-label">Исполнитель</label>
                      <select type="text" class="form-select" id="executorEdit" name="executor" required>
                          <option value="">--Исполнитель--</option>
                          <option value="Общая">Общая</option>
                          {% for user in listusers %}
                          <option value="{{ user }}">{{ user }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="telegramNotification" name="telegram_notification">
                        <label class="form-check-label" for="telegramNotification">Уведомить в Telegram</label>
                    </div>
                </div>
                  <div class="col-md-12">
                      <label for="commentEdit" class="form-label">Комментарий</label>
                      <textarea type="text" class="form-control" id="commentEdit" name="comment" rows="3"></textarea>
                  </div>
                  <div class="col-md-12">
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                          <button type="submit" class="btn btn-primary" id="submitButton">Сохранить</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удалить элемент</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteForm">
          <div class="form-group">
            <label for="idSelectDelete">Выберите ID для удаления:</label>
            <select class="form-control mt-2" id="idSelectDelete"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-danger" id="submitButton">Удалить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>