{% extends "base.html" %}
{% block title %}Задачи{% endblock %}
{% block stylesheet %}
<script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
{% block tasks_js %}
{% endblock %}
<script src="{{ url_for('static', filename='datatables/database_lang.js') }}"></script>
<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.6/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.6/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="title mb-3">
        <h1>Задачи</h1>
    </div>
    <ul class="nav nav-tabs my-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if request.path == url_for('tasks_main.tasks_main_page') %}active{% endif %}" href="{{ url_for('tasks_main.tasks_main_page') }}">Актуальные</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if request.path == url_for('tasks_main.tasks_main_page_all') %}active{% endif %}" href="{{ url_for('tasks_main.tasks_main_page_all') }}">Все задачи</a>
        </li>
      </ul>   
    <div class="tab-content" id="myTabContent">
        <div class="mb-3">
            {% if current_user.role == "Admin" %}
                <button class="btn btn-success mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
                <button class="btn btn-warning mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</button>
                <button class="btn btn-danger mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
            {% else %}
                <button class="btn btn-success mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
                <button class="btn btn-warning mb-2 mb-sm-2" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</button>
            {% endif %}
        </div>
    
        {% block tasks %}
        {% endblock %}
        
    </div>
</div>
{% endblock %}
