{% extends "tasks/task_templ.html" %}
{% block title %}Задачи{% endblock %}
{% block tasks_js %}
<script src="{{ url_for('static', filename='js/tasks/tasks_main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile-events.js') }}"></script>
{% if current_user.role == "Admin" %}
<script src="{{ url_for('static', filename='js/tasks/tasks_buttons_admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/tasks/tasks_data_admin.js') }}"></script>
{% elif current_user.role == "User" %}
<script src="{{ url_for('static', filename='js/tasks/tasks_buttons_user.js') }}"></script>
<script src="{{ url_for('static', filename='js/tasks/tasks_data_user.js') }}"></script>
{% endif %}
{% endblock %}
{% block tasks %}
  <table id="myTable" class="table table-hover table-bordered" style="width:100%">
      <thead>
          <tr>
              <th data-column-id="id" > ID </th>
              <th data-column-id="date" > Дата </th>
              <th data-column-id="user_init" > Заказчик </th>
              <th data-column-id="ticket" > Задача </th>
              <th class="none" data-column-id="ticket_comment" > Описание </th>
              <th data-column-id="priority"> Приоритет </th>
              <th data-column-id="status"> Статус </th>
              <th data-column-id="executor"> Исполнитель </th>
              <th data-column-id="deadline"> Дедлайн </th>
              {% if current_user.role == "Admin" %}
              <th class="none" data-column-id="time_started"> Время начала задачи </th>
              <th class="none" data-column-id="time_finished"> Время завершения задачи </th>
              <th class="none" data-column-id="time_wasted"> Время выполнения задачи </th>
              {% endif %}
              <th class="none" data-column-id="comment"> Комментарий </th>
              <th class="none"> Действия </th>
            </tr>
        </thead>
      <tbody id="TableBody" style="white-space: pre-line; cursor: pointer;">
      </tbody>
      <tfoot>
          <tr>
              <th> ID </th>
              <th> Дата </th>
              <th> Заказчик </th>
              <th> Задача </th>
              <th> Описание </th>
              <th> Приоритет </th>
              <th> Статус </th>
              <th> Исполнитель </th>
              <th> Дедлайн </th>
              {% if current_user.role == "Admin" %}
              <th> Время начала задачи </th>
              <th> Время завершения задачи </th>
              <th> Время выполнения задачи </th>
              {% endif %}
              <th> Комментарий </th>
              <th> Действия </th>
          </tr>
      </tfoot>
  </table>
<script>
  var userRole = '{{ current_user.role }}';
  var userName = '{{ current_user.username }}';
</script>

{% if current_user.role == "Admin" %}
{% include "tasks/task_admin.html" %}
{% elif current_user.role == "User" %}
{% include "tasks/task_user.html" %}
{% endif %}

{% endblock %}