<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Добавить задачу</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addForm" class="form-horizontal">
          <div class="mb-3 row">
            <label for="date" class="col-sm-3 col-form-label">Дата:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="date" name="date" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="deadline" class="col-sm-3 col-form-label">Дедлайн:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="deadline" name="deadline">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user_init" class="col-sm-3 col-form-label">Заказчик:</label>
            <div class="col-sm-9">
              <select type="text" class="form-select" id="user_init" name="user_init" required>
                <option value="">--Заказчик--</option>
                <option value="Миша">Миша</option>
                <option value="Андрей">Андрей</option>
                <option value="Денис">Денис</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="ticket" class="col-sm-3 col-form-label">Задача:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="ticket" name="ticket" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="ticket_comment" class="col-sm-3 col-form-label">Описание:</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="ticket_comment" name="ticket_comment" rows="3"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="priority" class="col-sm-3 col-form-label">Приоритет:</label>
            <div class="col-sm-9">
              <select type="form-select" class="form-select" id="priority" name="priority" required>
                <option value="Низкий">Низкий</option>
                <option value="Средний">Средний</option>
                <option value="Высокий">Высокий</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="status" class="col-sm-3 col-form-label">Статус:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="status" name="status" value="Новый" readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="executor" class="col-sm-3 col-form-label">Исполнитель:</label>
            <div class="col-sm-9">
              <select type="form-select" class="form-select" id="executor" name="executor" required>
                <option value="Общая">Общая</option>
                <option value="Данил">Данил</option>
                <option value="Саша">Саша</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" form="addForm" class="btn btn-primary" id="submitButton">Добавить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Редактирование задачи</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="editForm" class="form-horizontal">
                  <div class="mb-3 row">
                      <label for="idSelectEdit" class="col-sm-3 col-form-label">ID</label>
                      <div class="col-sm-9">
                          <select class="form-select" id="idSelectEdit" name="id" required>
                          </select>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="dateEdit" class="col-sm-3 col-form-label">Дата</label>
                      <div class="col-sm-9">
                          <input type="date" class="form-control" id="dateEdit" name="date" required>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="deadlineEdit" class="col-sm-3 col-form-label">Дедлайн</label>
                      <div class="col-sm-9">
                          <input type="date" class="form-control" id="deadlineEdit" name="deadline">
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="user_initEdit" class="col-sm-3 col-form-label">Заказчик</label>
                      <div class="col-sm-9">
                          <select type="text" class="form-select" id="user_initEdit" name="user_init" required>
                              <option value="">--Заказчик--</option>
                              <option value="Миша">Миша</option>
                              <option value="Андрей">Андрей</option>
                              <option value="Денис">Денис</option>
                          </select>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="ticketEdit" class="col-sm-3 col-form-label">Задача</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="ticketEdit" name="ticket" required>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="ticket_commentEdit" class="col-sm-3 col-form-label">Описание</label>
                      <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="ticket_commentEdit" name="ticket_comment" rows="3"></textarea>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="priorityEdit" class="col-sm-3 col-form-label">Приоритет</label>
                      <div class="col-sm-9">
                          <select type="text" class="form-select" id="priorityEdit" name="priority" required>
                              <option value="">--Приоритет--</option>
                              <option value="Низкий">Низкий</option>
                              <option value="Средний">Средний</option>
                              <option value="Высокий">Высокий</option>
                          </select>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="statusEdit" class="col-sm-3 col-form-label">Статус</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="statusEdit" name="status" required readonly>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="executorEdit" class="col-sm-3 col-form-label">Исполнитель</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="executorEdit" name="executor" required readonly>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="commentEdit" class="col-sm-3 col-form-label">Комментарий</label>
                      <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="commentEdit" name="comment" rows="3"></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                      <button type="submit" class="btn btn-primary" id="submitButton">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<!--
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Комментарий</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="mb-3">
                        <label for="idSelectEdit" class="form-label">ID</label>
                        <select class="form-select" id="idSelectEdit" name="id" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="commentEdit" class="form-label">Комментарий</label>
                        <textarea type="text" class="form-control" id="commentEdit" name="comment" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
//-->