<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Добавить статью</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addForm" class="form-horizontal">
          <div class="mb-3 row">
            <label for="title" class="col-sm-3 col-form-label">Название:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="description" class="col-sm-3 col-form-label">Описание:</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="tags" class="col-sm-3 col-form-label">Тэги:</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="tags" name="tags" rows="3"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Редактирование Инструкции</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="editForm" class="form-horizontal">
                  <div class="mb-3 row">
                      <label for="idSelectEdit" class="col-sm-3 col-form-label">ID</label>
                      <div class="col-sm-9">
                          <select class="form-select" id="idSelectEdit" name="id" required>
                          </select>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="titleEdit" class="col-sm-3 col-form-label">Название</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="titleEdit" name="title" required>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="descriptionEdit" class="col-sm-3 col-form-label">Описание</label>
                      <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="descriptionEdit" name="description" rows="3"></textarea>
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="tagsEdit" class="col-sm-3 col-form-label">Тэги</label>
                      <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="tagsEdit" name="tags" rows="3"></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                      <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Удалить инструкцию</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteForm">
          <div class="form-group">
            <label for="idSelectDelete">Выберите ID для удаления:</label>
            <select class="form-control mt-2" id="idSelectDelete"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>