{% extends "base.html" %}
{% block title %}База знаний{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="container mt-5">
  <h1 class="title mb-5">
    База знаний
  </h1>
  <table id="myTable" class="table table-hover text-center table-bordered" style="width:100%">
    <thead>
        <tr>
            <th data-column-id="id" > ID </th>
            <th data-column-id="title" > Название </th>
          </tr>
      </thead>
    <tbody id="TableBody" style="white-space: pre-line; cursor: pointer;">
    </tbody>
    <tfoot>
        <tr>
            <th> ID </th>
            <th> Название </th>
        </tr>
    </tfoot>
  </table>
</div>

{% endblock %}

{% block footer %}
<div class="container fixed-bottom bg-light py-3 text-center">
    <p class="mb-0">ZetaPanel &copy; 2023</p>
</div>
{% endblock %}