{% extends "base.html" %}
{% block title %}Изменение - {{ title }}{% endblock %}
{% block stylesheet %}
<script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile-events.js') }}"></script>
<script src="{{ url_for('static', filename='js/wiki/wiki_markdown.js') }}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/css/editormd.min.css">
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/editormd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">
{% endblock %}
{% block content %}
{% include "header.html" %}

<div class="container mt-5">
  <h1 class="title mb-3">
    База знаний - {{ title }}
  </h1>
  <div id="editor">
    <textarea>{{ text | safe }}</textarea>
  </div>
  <div class="mb-3">
    <a class="btn btn-outline-primary mb-2 mb-sm-2" href="javascript:history.back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Вернуться</a>
    <button id="save" name="{{id}}" class="btn btn-primary mb-2 mb-sm-2 save">Сохранить</button>
  </div>
</div>


{% endblock %}
