{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include "header.html" %}
<script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile-events.js') }}"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/monokai.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<style>
  img {
      max-width: 100%;
      height: auto;
  }
  @media print {
    #btn-modif {
        display: none;
    }
}
</style>


<div class="container mt-5">
  <h1 class="title mb-3">
    База знаний - {{ title }}
  </h1>
  <div class="tab-content" id="myTabContent">
    <div class="mb-3">
        <a class="btn btn-outline-primary mb-2 mb-sm-2" href="javascript:history.back()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Вернуться</a>
      <a class="btn btn-warning mb-2 mb-sm-2" id="btn-modif" name="{{id}}">Редактировать</a>
    </div>
  </div>
  <div>{{ data|safe }}</div>
</div>

<script>
  $(document).ready(function() {
    $('#btn-modif').click(function() {
      var btnName = $(this).attr('name');
      window.location.href = '/wiki/modify/' + btnName;
    });
  });
</script>


{% endblock %}
