{% extends "base.html" %}
{% block title %}База знаний - Создать{% endblock %}
{% block content %}
{% include "header.html" %}
<script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile-events.js') }}"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<style>
  img {
      max-width: 100%;
      height: auto;
  }
</style>


<div class="container mt-5">
  <h1 class="title mb-5">
    База знаний
  </h1>
  <div class="border">{{ data|safe }}</div>
</div>

{% endblock %}
