{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block stylesheet %}
<link href="../static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <style>
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: .375rem;
      border-bottom-left-radius: .375rem;
    }
    </style>
<div class="form-signin w-100 m-auto text-center">
  <form method="POST" action="/forgot_password">
    <img class="mb-4" src="../static/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Панель управления</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger text-center">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Электронная почта</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Восстановить пароль</button>
        <p class="mt-3 mb-0">
        Вернуться к <a href={{ url_for('auth.login') }}>авторизации</a>
        </p>
    <p class="mt-5 mb-3 text-muted">WPZSM &copy; 2023</p>
  </form>
</div>
{% endblock %}