<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-4 link-secondary">Главная</a></li>
          {% if current_user.is_authenticated %}
              <li><a href="#" class="nav-link px-4 link-dark">Склад</a></li>
              <li><a href="#" class="nav-link px-4 link-dark">Задачи</a></li>
              <li><a href="#" class="nav-link px-4 link-dark">База знаний</a></li>
              <li><a href="{{ url_for('main.profile') }}" class="nav-link px-2 link-dark">Профиль</a></li>
          {% endif %}
      </ul>
      <div class="col-md-3 text-end">
          {% if not current_user.is_authenticated %}
              <button onclick="window.location.href = '{{ url_for('auth.login') }}'" type="button" class="btn btn-outline-primary me-2">Войти</button>
              <button onclick="window.location.href ='{{ url_for('auth.signup') }}'" type="button" class="btn btn-primary">Регистрация</button>
          {% endif %}
          {% if current_user.is_authenticated %}
              <button onclick="window.location.href ='{{ url_for('auth.logout') }}'" type="button" class="btn btn-outline-primary me-2">Выйти</button>
          {% endif %}
      </div>
  </header>
</div>
