{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
{% include "header.html" %}
    <div class="container text-center mt-5">
        <h1 class="title">
          ZetaPanel
        </h1>
        <h2 class="subtitle mt-5">
          Управление мониторингом и задачами команды.
        </h2>
        <h2 class="endtitle mt-5">
          Продукт все ещё находится в разработке.
        </h2>
    </div>
{% endblock %}

{% block footer %}
<div class="container fixed-bottom bg-light py-3 text-center">
    <p class="mb-0">ZetaPanel &copy; 2023</p>
</div>
{% endblock %}