{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block stylesheet %}
<link href="../static/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
        <style>
    .form-signin input[type="password"] {
      border-radius: .375rem;
    }
    </style>
<div class="form-signin w-100 m-auto text-center">
    <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
        <img class="mb-4" src="../static/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Панель управления</h1>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Новый пароль</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Изменить пароль</button>
    </form>
</div>
{% endblock %}
