{% extends "base.html" %}
{% block title %}Склад{% endblock %}
{% block stylesheet %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/filter_db.js') }}"></script>
    <script src="{{ url_for('static', filename='js/func_db.js') }}"></script>
{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="container">
    <h1>Склад</h1>
    <div class="input-group justify-content-between align-items-center my-3">
        <input type="text" class="form-control" id="filterInput" placeholder="Search...">
        <select class="form-select" id="filterColumn">
            <option value="0">ID</option>
            <option value="1">Имя</option>
            <option value="2">Описание</option>
        </select>
    </div>
    <div class="justify-content-end d-flex my-3">
        <button type="button" class="btn btn-primary btn-sm mx-2" onclick="saveAllProducts()">Сохранить все</button>
        <button type="button" class="btn btn-danger btn-sm mx-2" onclick="deleteAllProducts()">Удалить все</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td contenteditable="true" class="editable" data-field="name">{{ product.name }}</td>
                <td contenteditable="true" class="editable" data-field="description">{{ product.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
